$primary-color: blueviolet;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem;
  height: 100vh;
  min-height: 100vh;
  align-items: center;
}

.main {
  padding: 5rem 0;
  max-width: 800px;
}

.title {
  margin: 0;
  font-size: 3rem;
  line-height: 1.15;
  text-align: center;
}

.posts {
  margin: 3.5rem 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.postsContent {
  margin-bottom: 0.5rem;
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 2.6875rem;
}

.postsDate {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.0625rem;
}

.formContent {
  margin-bottom: 1rem;
  padding: 0.8rem;
  width: 100%;
  min-height: 8rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  border: 2px solid #919191;
  border-radius: 5px;
}

.formBtn {
  padding: 0.6rem 1rem;
  background: #4948a7;
  border: 0;
  border-radius: 5px;
  font-size: 1.1rem;
  color: #f1f1f1;
}
