.postsContent {
  margin-bottom: 0.4rem;
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 2.6875rem;
}

.postsDate {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.0625rem;
}
